.normal {
  box-sizing: border-box;
  padding: 16px 34px;
  border: 1px solid var(--color-light-text);
  background: var(--color-red-gradient-start);
  color: var(--color-light-text);
  border-radius: 6px;
  cursor: pointer;
  font-size: var(--font-size-m);
  line-height: 24px;

  &:hover {
    color: var(--color-dark-text);
    background: var(--color-light-text);
  }

  &:disabled {
    background: var(--color-dark-input-disabled);
    border: none;
    cursor: default;

    &:hover {
      background: var(--color-dark-input-disabled);
      color: var(--color-light-text);
    }
  }
}

.fullWidth {
  width: 480px;
  height: 56px;
  background: linear-gradient(
                  to right,
                  var(--color-red-gradient-start),
                  var(--color-red-gradient-end)
  );

  &:hover {
    background: var(--color-red-btn-hover);
    color: var(--color-light-text);
  }
}

.text {
  color: var(--color-red-gradient-end);
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
     color: var(--color-red-btn-hover);
  }
}
