:root {
  // light
  --color-light-text: #FFFFFF;
  --color-light-not-active: #EEF0F2;
  --color-light-not-active-hover: #DFE3E6;

  // red
  --color-red-gradient-start: #FF4F4F;
  --color-red-gradient-end: #DC3131;
  --color-red-btn-hover: #EA0029;
  --color-red-btn-text-hover: #F53A31;

  // dark
  --color-dark-disabled : #BEC5CC;
  --color-dark-input-disabled: #808080;
  --color-dark-text: #000000;
}

